.main_container {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    height: 568px;
}

.banner_container {
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin-top: 80px;

}

.text_container {
    display: flex;
    justify-content: center;
    margin-right: 80px;
    width: 50%;
    align-content: flex-start;
    flex-direction: column;
}

.title_container {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 800;
    line-height: 52.8px;
    text-align: left;
    gap: 8px;
}

.title_container :last-child {
    color: #818CF8;
}

.text p {
    margin: 0;
    padding: 0;
}

.text {
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    margin-top: 32px;
    color: #CBD5E1;
    width: 88%;
}

.image_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
}
.top_container {
    display: flex;
    width: 90%;
    height: 50%;
    gap: 24px;
    justify-content: flex-end;
}

.top_container img{
    height: 192px;
    max-width: 264px;
    border-radius: 20px;
}

.bottom_container {
    display: flex;
    width: 90%;
    height: 50%;
    gap: 24px;
}

.bottom_container img {
    height: 192px;
    max-width: 264px;
    border-radius: 20px;
}

.bottom_container :first-child {
    max-width: 204px;
}

.toper_image {
    display: block;
    width: 50%;
}



@media (max-width: 740px) {
    .title_container {
        font-size: 24px;
        font-weight: 700;
        line-height: 26.4px;
        text-align: center;
    }

    .text {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: center;
    }
    .top_container {
        justify-content: flex-start;
    }
    .bottom_container{
        margin-top: 5%;
        margin-left: 12%;
        
    }
    .top_container img{
        height: 112px;
        max-width: 172px;
        width: 100%;
    }
    .bottom_container img {
        height: 112px;
        max-width: 187px;
        width: 100%;
    }
    .bottom_container :first-child {
        max-width: 123px;
        width: 100%;
    }
}

@media (max-width: 1190px) {
    .main_container {
        height: auto;
        margin-bottom: 80px;
        gap: 20px;
    }
    .banner_container {
        flex-direction: column;
    }

    .text_container {
        width: 86%;
        margin: 0;
    }

    .title_container {
        flex-wrap: wrap;
        align-content: center;
        margin-left: 15%;
    }

    .text {
        text-align: center;
        width: 100%;
        margin-left: 10%;
    }

    .title_container :last-child {
        text-align: center;
    }
    .image_container {
        width: 90%;
        margin-left: 5%;
        margin-top: 16px;
    }
}