.main_container {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.content_container {
    display: flex;
    max-width: 1440px;
    width: 100%;
}

.first_line {
    font-size: 56px;
    font-weight: 800;
    line-height: 61.6px;
    text-align: center;
}