.main_container {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    padding: 0 5px;
}

p {
    margin: 0;
    padding: 0;
}

.text_container {
    margin-bottom: 80px;
    font-size: 24px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
    color: #CBD5E1;

}

.content {
    display: flex;
    width: 100%;
    max-width: 1440px;
    padding-top: 80px;
    padding-bottom: 80px;
    flex-direction: column;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    color: #CBD5E1;
    font-size: 24px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    justify-content: space-evenly;

}

.logos :last-child {
    margin-top: 5px;
}

.companies_logos {
    display: flex;
    gap: 8px;
}

@media (max-width: 740px) {
    .logos {
        gap: 24px;
    }

    .last_logo {
        width: 80%;
    }

    .text_container {
        font-size: 18px;
        font-weight: 500;
        line-height: 19.8px;
    }
}