.main_container {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.contant {
    display: flex;
    max-width: 1440px;
    width: 94%;
    justify-content: center;
    padding-top: 80px;
    flex-direction: column;
}

.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: #818CF8;
    margin: 0;
}

.heading {
    font-size: 72px;
    font-weight: 800;
    line-height: 79.2px;
    text-align: center;
    margin: 0;
}

.description {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 48%;
    text-align: center;
    color: #CBD5E1;
}

.description_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.buttons_container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 56px;
    gap: 16px;
}

.image_container {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.image_container span {
    max-width: 284.18px;
    width: 100%;
}

.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
 .heading {
    font-size: 48px;
 }
 .description {
    font-size: 16px;
    line-height: 22.4px;
    width: 90%;
    width: 400;
 }
 .heading {
    line-height: 52.8px;
 }
}