.main_container {
    display: flex;
    width: 100%;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    background-color: #334155;
    height: 418px;
    padding-top: 48px;
}

.content_container {
    display: flex;
    max-width: 1460px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.list_container {
    display: flex;
    max-width: 1440px;
    width: 100%;
    height: 80%;
    justify-content: space-between;
}

.main_container ul {
    padding: 12px 0px 12px 0px;
    gap: 8px;
    opacity: 0px;

}

.main_container ul :first-child {
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
    text-align: left;
    height: 42px;
    color: white;
}

.content_container ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    height: 42px;
    color: #E2E8F0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-content: center;
    flex-wrap: wrap;
}

.bottom_container {
    display: flex;
    width: 100%;
    height: 20%;
    color: #E2E8F0;
}

.second_span {
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.logo_span {
    display: flex;
    width: 20%;
    gap: 16px;
    margin-left: auto;
}

.logo {
    width: 24px;
    height: 24px;
}
.store_container {
    display: flex;
    gap: 16px;
}

@media (max-width: 740px) {
    .main_container {
        height: auto;
    }
    .list_container {
        flex-direction: column;
        margin-left: 5%;
        width: 90%;
    }
    .bottom_container {
        flex-direction: column;
        gap: 20px;
        text-align: justify;
    }
    .second_span {
        width: 70%;
    }
    .bottom_container p {
        margin-left: 5%;
    }
    .logo_span {
        gap: 16px;
        margin-left: 5%;
        justify-content: flex-start;    
    }
    .store_container {
        margin-left: 5%;
    }
}