.main_container {
    display: flex;
    width: 100%;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 56px;
    font-weight: 800;
    line-height: 61.6px;
    text-align: center;
    margin-top: 80px;
}

.title :last-child {
    color: #818CF8;
}

.content_container p{
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: #CBD5E1;
}

.ilder_div {
    display: flex;
    margin-top: 50px;
}



@media (max-width: 740px) {
    .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 26.4px;
        text-align: center;
    }

    .content_container p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: center;
    }
}