.main_container {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to bottom, #4F46E5 50%, #0F172A 50%);
    padding-bottom: 80px;
}

.content_container {
    display: flex;
    max-width: 1440px;
    width: 94%;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.title {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 800;
    line-height: 52.8px;
    text-align: center;
}

.descktop {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    border: 20px solid rgba(255, 255,255, 7%);
    border-radius: 20px;
}

.link {
    width: 100%;
    max-width: 1440px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
}
.link img {
    width: 100%;
    object-fit: cover;

}

.windowStyle {
    width: 100%;
    max-width: 1440px;
}
.windowStyle img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 740px) {
    .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 26.4px;
        margin-bottom: 48px;
        margin-top: 48px;
    }
 
}