.main_container {
    display: flex;
    width: 100%;
    font-family: "Roboto", sans-serif;
    /* height: 560px; */
    background-color: #1E293B;
    justify-content: center;
    /* padding-left: 5%; */
    padding-top: 80px;
    padding-left: 20px;
}

.content_container {
    display: flex;
    height: 100%;
    max-width: 1440px;
    width: 100%;
}

.first_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text_container p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #CBD5E1;
}

.title_container {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 800;
    line-height: 52.8px;
    text-align: left;
    gap: 8px;
    width: 100%;
}

.title_container :last-child {
    color: #818CF8;
}

.second_container {
    display: flex;
    width: 50%;
    height: 100%;
}

.second_container img {
    height: 100%;
    width: 100%;
}

@media (max-width: 800px) { 
    .content_container {
        flex-direction: column;
        gap: 32px;
    }

    .second_container {
        width: 100%;
    }

    .title_container {
        
        font-size: 24px;
        font-weight: 700;
        line-height: 26.4px;
        text-align: left;
    }

    .text_container p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;

    }
}