.main_container {
    display: flex;
    width: 100%;
    font-family: "Roboto", sans-serif;
    justify-content: flex-end;
    height: 560px;
    background-color: #1E293B;
    flex-direction: column;
    align-items: flex-end;
}

.content_container {
    display: flex;
    height: 80%;
    width: 87%;
    /* margin-left: 5%; */
    gap: 40px;
}

.first_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 30px;
}

.text_container {
    margin-top: 32px;
}

.text_container p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #CBD5E1;
}

.title_container {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 800;
    line-height: 52.8px;
    text-align: left;
    gap: 8px;
    width: 100%;
}

.title_container :last-child {
    color: #818CF8;
}

.second_container {
    display: flex;
    width: 50%;
    height: 100%;
}

.second_container img {
    height: 100%;
    width: 100%;
}

@media (max-width: 800px) {
    .main_container {
        height: auto;
    }

    .content_container {
        flex-direction: column;
        width: 95%;
    }

    .second_container {
        width: 100%;
        height: 266px;
    }

    .title_container {
        margin-top: 80px;
        font-size: 24px;
        font-weight: 700;
        line-height: 26.4px;
        text-align: left;
    }

    .text_container p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;

    }
}