.main_container {
    display: flex;
    width: 100%;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    padding-bottom: 160px;
}

.content_container {
    display: flex;
    max-width: 1440px;
    width: 100%;
    padding-top: 80px;
    flex-direction: column;
    gap: 32px;
    padding: 0 20px;
}

.title {
    font-size: 56px;
    font-weight: 800;
    line-height: 61.6px;
    text-align: center;
}

.title :last-child {
    color: #818CF8;
}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: #CBD5E1;
}

.button_container {
    display: flex;
    gap: 16px;
    justify-content: center;
}

@media screen and (max-width: 740px) {
    .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 26.4px;
        text-align: center;
    }

    .text {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: center;
    }
}