.sliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  overflow-x: auto;
  width: 100%;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center; /* Center the cards */
  align-items: center;
  position: relative;
  padding: 0 20px;
  margin-bottom: 20px;
}

.card {
  width: 384px;
  height: 506px; /* Default height */
  background-color: #334155;
  border: 1px solid #475569;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 12px; /* Add margin between cards */
  transition: transform 0.3s ease, height 0.3s ease; /* Add height transition */
  border-radius: 20px;
}

.active {
  height: 606px; /* Adjusted height when card is selected */
  transform: translateY(-100px); /* Adjusted position when card is selected */
  border-radius: 20px;
}

.prev,
.next {
  cursor: pointer;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
